#disk {
  position: absolute;
  top: 6%;
  left: -65px;
  width: 300px;
  height: 300px;
  background: #1a1a1a;
  border-radius: 150px;
  box-shadow: 0px 8px #b8c6db;
  transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -ms-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -moz-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -webkit-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  z-index: 100;
}

#disk:before {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 300px;
  height: 300px;
  background: #383838;
  border-radius: 150px;
  box-shadow: 0px 3px #252525;
  content: "";
}

#disk2 {
  position: absolute;
  top: 11%;
  left: 50px;
  width: 300px;
  height: 300px;
  background: #1a1a1a;
  border-radius: 150px;
  box-shadow: 0px 8px #b8c6db;
  transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -ms-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -moz-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  -webkit-transform: rotateX(50deg) rotateY(-3deg) scaleX(0.35) scaleY(0.35);
  z-index: 100;
}

#disk2:before {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 300px;
  height: 300px;
  background: #383838;
  border-radius: 150px;
  box-shadow: 0px 3px #252525;
  content: "";
}

#label {
  position: absolute;
  top: 75px;
  left: 95px;
  width: 110px;
  height: 110px;
  border-radius: 150px;
  background: white;
  content: "";
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

#label:after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: 45px;
  background: #4e604c;
  border-radius: 90px 90px 0 0;
  content: "";
}

#label:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 90px;
  content: "";
}

#label2 {
  position: absolute;
  top: 75px;
  left: 95px;
  width: 110px;
  height: 110px;
  border-radius: 150px;
  background: white;
  content: "";
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}

#label2:after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: 45px;
  background: #8f6a59;
  border-radius: 90px 90px 0 0;
  content: "";
}

#label2:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 90px;
  content: "";
}

#table {
  position: absolute;
  top: 23.5%;
  left: -10px;
  width: 218px;
  height: 111px;
  background: #5c656f;
  border-radius: 10px;
  transform: rotateZ(10deg) skewX(-25deg) scaleX(0.56) scaleY(0.42);
  -ms-transform: rotateZ(10deg) skewX(-25deg) scaleX(0.56) scaleY(0.42);
  -moz-transform: rotateZ(10deg) skewX(-25deg) scaleX(0.56) scaleY(0.42);
  -webkit-transform: rotateZ(10deg) skewX(-25deg) scaleX(0.56) scaleY(0.42);
  z-index: 2;
}

#table:before {
  position: absolute;
  top: -5px;
  left: -2px;
  width: 436px;
  height: 225px;
  background: #b8c7dd;
  border-radius: 10px;
  content: "";
}

#table:after {
  position: absolute;
  top: -12px;
  left: -6px;
  width: 436px;
  height: 225px;
  background: rgb(245, 246, 253);
  border-radius: 10px;
  content: "";
}

#wood {
  position: absolute;
  top: 232px;
  left: -5px;
  width: 252px;
  height: 16px;
  background: #a07f6f;
  border-radius: 0 0 15px 8px;
  transform: rotateZ(10deg) skewX(10deg);
  -ms-transform: rotateZ(10deg) skewX(10deg);
  -moz-transform: rotateZ(10deg) skewX(10deg);
  -webkit-transform: rotateZ(10deg) skewX(10deg);
  z-index: 1;
}

#wood2 {
  position: absolute;
  top: 175px;
  left: 258px;
  width: 12px;
  height: 96px;
  background: #997463;
  border-radius: 0 2px 25px 0;
  transform: rotateZ(50deg) skewX(15deg) skewY(48deg);
  -ms-transform: rotateZ(50deg) skewX(15deg) skewY(48deg);
  -moz-transform: rotateZ(50deg) skewX(15deg) skewY(48deg);
  -webkit-transform: rotateZ(50deg) skewX(15deg) skewY(48deg);
  overflow: hidden;
  z-index: 1;
}

/* keyframes for wheel animation;  simple 0 to 360 */
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
